.loading-overlay-content {
  display: contents;
}

.loading-overlay {
  position: fixed;
  z-index: 900;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba($color-background, 0.76);
  cursor: wait;
}

.loading-overlay__status {
  display: grid;
  place-items: center;
  padding: 0.75rem;
  border-radius: 0.5rem;
}
